# Ignore embedded git repositories
gsplat/
habitat-lab/
figs/
.vscode/
.ckpt
.pth
.pt
.glb
.navmesh

# Ignore output directories
output/
outputs/
yolo/
gibson_scenes/
versioned_data/
episodes/
scene_datasets/

# Python bytecode
__pycache__/
*.pyc
ddppo_weights/
